.layout-container{
  margin: 0 auto !important;
  max-width: 1600px;
}

a:hover{
  color: inherit !important;
}

.content-header{
  padding-top: 0;
  margin-bottom: 0;
}

.page-content{
  margin-top: 0;
}

/* Only to Develoment mode */
.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
